/* Reset Css */
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
body{
    overflow-y: scroll;
    background: #121B24;
}
body,html{
    height:100%;
    width:100%;
    font-family: 'Poppins', sans-serif;
}
i.fa-solid{
    color: white;
}
/*! Global  */
:root{
    --primary-color: #3FDE78;
}
@font-face {
  font-family: "berlin_sans_fb_demibold";
  src: url("../fonts/berlin_sans_fb_demi_bold-webfont.woff2") format("woff2"), url("../fonts/berlin_sans_fb_demi_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*? Cursor */
.cursor{
    height:15px;
    width:15px;
    border-radius:50%;
    background:var(--primary-color);
    position: fixed;
    display: inline;
    z-index: -1;
    transition: 550ms opacity;
}
.burger{
    border: 2px solid var(--primary-color);
    padding: 7px;
    display: inline-block;
}
.burger i.fa-solid{
    font-size: 30px;
    color: var(--primary-color);
}

/*! Header Navbar */
header{
    padding: 11px 0;
    & nav{
        height: 100%;
        align-items: center;
        justify-content: space-around;
        display: flex;
        & ul{
            display: none;
            font-family:  'Barlow', sans-serif;
            font-weight: 700;   
            list-style: none;
            gap: 20px;
            & li{
                display: inline-block;
                font-size: 15px;
                padding: 15px;
                position: relative;
                transition: 250ms all;
                cursor: pointer;
                color: white;
                &:hover{
                    color: var(--primary-color);
                    & hr{
                        opacity: 1;
                        transition: 500ms all;
                        transform: rotate(50deg);
                    }
                }
                & hr{
                    height: 100%;
                    transform: rotate(90deg);
                    right: 50%;
                    opacity: 0;
                    transition: 500ms all;
                    border-color: var(--primary-color);
                    top: 0%;
                    position: absolute;
                }
            }
        }
        & .right{
            display: flex;
            align-items: center;
            height: 100%;
            gap: 20px;
        }
    }
}

/*! Header !*/

.buton{
    cursor: pointer;
    & a {
        position: relative;
        font-size: 20px;
        font-family:  'Barlow', sans-serif;
        font-weight: 700;
        & svg{
        height: 40px;
        width: 130px;
        }
        & i+span{
            position: absolute;
            top: -50%;
            left: 20%;
            font-size: 20px;
            font-family:  'Barlow', sans-serif;
            font-weight: 700;
        }
    }
}
.divider{
    width: 5px;
    height: 40px;
    background: rgb(20,37,38);
    margin: 20px 0;

}

@media (min-width: 1024px){
    header nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}
@media (min-width: 768px) {
    nav .right{
        display: flex;
    }
    nav .burger{
        display: none;
    }
}