@import "./carucel.css";
div.area-background{
    height: 100%;
    width: 100%;
    background: url('https://themedox.com/demo/mykd/assets/img/bg/area_bg01.jpg')
}
section.about__area{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 130px;
    gap: 2rem;
    h1,h5{
        text-transform: uppercase;
    }
    h1{
        font-size: 45px;
        letter-spacing: 1px;
        color: white;
        &::after{
            content: "";
            display: block;
            background-image: url('https://themedox.com/demo/mykd/assets/img/bg/title_shape.svg');
            width: 65px;
            height: 5px;
            margin: 20px auto 0;
        }
    }
    h5{
        font-size: 14px;
        letter-spacing: 2px;
        color: rgb(69,248,130);
    }
    div.btns{
        display:flex;
        gap: clamp(20px,4vw,40px);
        a{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bolder;
            text-transform: uppercase;
            white-space: nowrap;
            font-size: 20px;
            padding: 14px clamp(20px,5vw,35px);
            line-height: 1;
            position: relative;
            z-index: 1;
            overflow: hidden;
            &:first-child{
                border: 2px solid rgb(69,248,130);
                transition: 500ms background-color;
                &:hover{
                    background-color: rgb(69,248,130);
                    color: black;
                }
                &::after{
                    content: "";
                    right: -2px;
                    position: absolute;
                    top: 50%;
                     -webkit-transform: translateY(-50%) rotate(180deg);
                    -moz-transform: translateY(-50%) rotate(180deg);
                    -ms-transform: translateY(-50%) rotate(180deg);
                    -o-transform: translateY(-50%) rotate(180deg);
                    transform: translateY(-50%) rotate(180deg);
                    background-image: url('https://themedox.com/demo/mykd/assets/img/icons/btn_shape01.png');
                    width: 15px;
                    height: 51px;
                    pointer-events: none;
                }
                &::before{
                    content: "";
                    position: absolute;
                    left: -2px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    background-image: url('https://themedox.com/demo/mykd/assets/img/icons/btn_shape01.png');
                    width: 15px;
                    height: 51px;
                    pointer-events: none;
                }
                }
            &:last-child{
                border: 2px solid #FFBE17;
                transition: 500ms background-color;
                &:hover{
                    background-color: #FFBE17;
                    color: black;
                }
                &::after{
                    content: "";
                    right: -2px;
                    position: absolute;
                    top: 50%;
                     -webkit-transform: translateY(-50%) rotate(180deg);
                    -moz-transform: translateY(-50%) rotate(180deg);
                    -ms-transform: translateY(-50%) rotate(180deg);
                    -o-transform: translateY(-50%) rotate(180deg);
                    transform: translateY(-50%) rotate(180deg);
                    background-image: url('https://themedox.com/demo/mykd/assets/img/icons/btn_shape02.png');
                    width: 15px;
                    height: 51px;
                    pointer-events: none;
                }
                &::before{
                    content: "";
                    position: absolute;
                    left: -2px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    background-image: url('https://themedox.com/demo/mykd/assets/img/icons/btn_shape02.png');
                    width: 15px;
                    height: 51px;
                    pointer-events: none;
                    
                }
            }
        }
    }
    .avatars{
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
        align-items: center;
        ul{
            display: flex;
            position: relative;
            padding: 1rem;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            list-style-type: none;
            &::before,&::after{
                content: "";
                background: linear-gradient(90deg, transparent 0%, rgb(69,248,130) 50%, transparent 100%);
                height: 1px;
                width: 100%;
                position: absolute;
            }
            &::before{
                top: 0;
                left: 0;
            }
            &::after{
                bottom: 0;
                right: 0;
            }
            li{
                border-radius: 100%;
                border-color: chocolate;
                border-width: 0px 2px 0px 2px;
                border-style: solid;
                display:flex;
                justify-content: center;
                align-items: center;
                padding: 4px;
                img{
                    border-radius: 100%;
                    border-color: chocolate;
                    border-width: 0px 2px 0px 2px;
                    border-style: solid;
                    transition: 500ms all;
                    
                }
                transition: 300ms all;
                &:hover{
                        border-color: rgb(69,248,130);
                        img{
                            border-color: rgb(69,248,130);
                        }
                }
            }

        }
    }
    .about01{
        margin: 80px 0 0;
        width: 90vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px 30px;
        .about01-content{
            display: flex;
            flex-direction: column;
            h4{
                color: white;
                font-weight: bolder;
                margin: 0 0 2px;
                text-transform: uppercase;
                font-size: 30px
            }
            span.rate{
                color: #faa706;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 20px;
                margin: 0 0 18px;
            }
            span.rate+p{
                width: 100%;
                color: #adb0bc;
                
            }
            & .row:first-child{
                display: flex;
                flex-direction: column;
                flex: auto;
                gap: 20px;
                margin: 0 0 30px;
                ul{
                    width: max-content;
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    color: #adb0bc;
                    gap: 10px;
                    font-weight: 500;
                    li{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        width: 100%;
                        justify-content: start;
                        background-image: -webkit-linear-gradient(0deg, #1f2935 0%, transparent 100%, #10181f 100%);
                        background-image: -ms-linear-gradient(0deg, #1f2935 0%, transparent 100%, #10181f 100%);
                        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.21);
                        padding: 7px 13px;
                        border-radius: 7px;
                        translate: 0px;
                        transition: 500ms all;
                        &:hover{
                            translate: -10px;
                        }
                    }
                }
            }
            & .row:last-child{
                display: flex;
                flex: auto;
                gap: 20px;
                flex-wrap: wrap;
                button{
                    flex: auto;
                    background-color: #1f2935;
                    background-image: -webkit-linear-gradient(90deg, #10181f 0%, transparent 0%, #141a20 100%);
                    border: 0;
                    color: #adb0bc;
                    font-weight: bolder;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    transition: 250ms all;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 25px 30px;
                    &:hover{
                        color: rgb(69,248,130);
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    section.about__area .about01{
        flex-direction:row;
        
    }
}
@media (min-width: 1300px) {
    section.about__area .about01{
        width: 70vw;
        
    }
}
@media (min-width: 768px) {
    section.about__area .about01 .about01-content .row{
        &:first-child{
            flex-direction: row;
        }
    }
}