:root {
  --main-color: rgb(69,248,130);
}
.current{
    color: var(--main-color)!important;
    hr{
        opacity: 1;
        transform: rotate(50deg);
    }
}
header nav{
    display: flex;
    border-radius: 20px;
    padding: 3vw 2vw;
    justify-content: space-between;
    align-items: center;
    ul{
        display: none;
    }
    .rightmenu{
        display: flex;
        .rightmenugrup{
            display: none;
        }
        i.fa-bars{
            border: 2px solid var(--main-color);
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 25px;
            color: var(--main-color);
        }
    }
}
.rightnav{
    height: 100%;
    position: fixed;
    width: 80%;
    right: -100%;
    top: 0;
    display: flex;
    align-content: center;
    flex-direction: column;
    transition: 250ms right;
    background: rgb(15,22,27);
    table,tr,th{
        border:solid gray;
        border-width: 1px 0px 1px 0;
    }
    table{
        width: 100%;
        tr{
            text-align: left;
            color: white;
            th{
                width: 100%;
                padding: 10px 20px;
                label{
                    transition: 250ms all;
                    justify-content: space-between;
                    display: flex;
                }
                &:has(> input:checked){
                    & label::after{
                        color: black;
                        background-color: var(--main-color);
                        content: "-";

                    }
                }
                & label::after{
                    transition: 250ms all;
                    text-align: right;
                    content: "+";
                    cursor: pointer;
                    background-color: rgb(24,33,40);
                    padding: 0 10px;
                    border-radius: 5px;
                }
                input{
                    display: none;
                }
                
            }
            

        }
    }
    .rightnavcontainer{
        width: 100%;
        padding: 3vw 0vw;
        .logo-and-exit{
            align-items: center;
            display: flex;
            justify-content: space-around;
            .exit svg{
                font-size: 30px;
                fill: var(--main-color);
                cursor: pointer;
            }
        }
        .searchinput{
            width: 90%;
            margin: 20px 20px;
            position: relative;
            box-sizing: border-box;
            input{
                width: 100%;
                border-radius: 10px;
                height: 50px;
                border: 0;
                outline: none;
                color: white;
                font-size: 20px;
                padding: 1vw 2vw;
                background-color: rgb(24,33,40);
                &::placeholder{
                    color:rgb(205, 205, 205)
                }
            }

            svg{
                position: absolute;
            
                bottom: 25%;
                right: 3%;
                font-size: 30px;
                fill: rgb(205, 205, 205);
            }
        }
    }

}
.navactive{
    right: 0;
}
@media (min-width: 768px){
    header nav div.rightmenu div.rightmenugrup{
        display: flex !important;
        gap: 10px;
            margin-right: 20px;
            display: none;
            align-items: center;
            justify-content: center;
            i.fa-magnifying-glass{
                cursor: pointer;
                color: white;
                font-size: 20px;
                transition: 500ms color;
                &:hover{
                    color:var(--main-color);
                }
            }
            hr{
                height: 80%;
                width: 8px;
                border: rgb(15,20,24);
                background: rgb(15,20,24);
            }
            .button{
                position: relative;
                height: 50px;
                &:hover{
                    & a svg{
                        transition: 750ms all;
                        fill:var(--main-color);
                    }
                    & a span{
                        transition: 750ms color;
                        color:black;
                    }

                }
                a svg{
                    color: var(--main-color);
                    height: 100%;
                    width: 180px;
                    fill: none;
                    transition: 250ms fill;
                }
                a span{
                    font-size: 18px;
                    position: absolute;
                    left: 25%;
                    font-weight: 700;
                    bottom: 25%;
                    color: white;
                }
            }
        }
}
@media(min-width:1024px) {
    header nav div.rightmenu div.rightmenugrup .burger hr{
        margin: 10px;
        background: white;
        height: 4px;
        border-radius: 40px;
        width: 100%;
    }
    .burger{
        cursor: pointer;
    }
}
@media (min-width:1280px){
    html body{
        overflow-y: scroll;
    }
    .fa-bars{
        display: none !important;
    }
    body div.cursor{
        display: block;
    }
    header nav ul{
        display: flex;
        gap: 20px;
        list-style-type: none;
        li{
            color: white;
            font-weight: bold;
            padding: 10px;
            cursor: pointer;
            transition: 250ms all;
            position: relative;
            &:hover{
                color: var(--main-color);
                hr{
                    opacity: 1;
                    transform: rotate(50deg);
                }

            }
            hr{
                transition: 550ms all;
                position: absolute;
                height: 100%;
                top: 0;
                transform: rotate(90deg);
                opacity: 0;
                left: 50%;
                border-color: var(--main-color);
            }
        }
    }
}


