@import "reset.css";
@import "header.css";
@import "home.css";
body{
    background: url('https://themedox.com/demo/mykd/assets/img/slider/slider_bg.jpg') no-repeat scroll;
    background-size: cover;
    background-position: center center;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 5px;
  }
body::-webkit-scrollbar-track {
    background: black;      
  }
body::-webkit-scrollbar-thumb {
    background-color: rgb(69,248,130);  
    border-radius: 20px;  
}
.cursor{
    height: 10px;
    width: 10px;
    position: fixed;
    z-index: 0;
    display: none;
    border-radius: 50%;
    background:rgb(69,248,130);
}
::-moz-selection { /* Code for Firefox */
  color: black;
  background: rgb(69,248,130);
}

::selection {
  color: black;
  background: rgb(69,248,130);
}
