@import "reset.css";
@import "header.css";
body{
    background-color: rgb(17,31,38);
}
.cursor{
    height: 10px;
    width: 10px;
    position: fixed;
    z-index: -1;
    border-radius: 50%;
    background:rgb(69,248,130);
}
/* @media( min-width: 768px ) {
    header nav div.rightmenu div.rightmenugrup{
        display: flex;
    }
}
 */