@import "reset.css";
@import "header.css";
@import "home.css";
@import "loading.css";
@import "video__area.css";
@import "seasons.css";
@import "nft-item.css";
@import "trend.css";
@import "about_area.css";
@import "users.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    justify-content: center;
    align-items: center;
}
body::-webkit-scrollbar {
    width: 5px;
  }
body::-webkit-scrollbar-track {
    background: black;      
  }
body::-webkit-scrollbar-thumb {
    background-color: rgb(69,248,130);  
    border-radius: 20px;  
}
html{
  scrollbar-color: rgb(69,248,130) black;
  scroll-behavior: smooth;
  scrollbar-width: 20px;
  scrollbar-shadow-color: black;
  scrollbar-track-color: black;
}
.cursor{
  position: fixed;
  width: 10px;
  transition: 100ms all;
  top: -0.1%;
  left: -0.2%;
  height: 10px;
  border-radius: 50%;
  z-index: 100;
  background: rgb(69,248,130);
  }
.scalehidden{
  scale: 0;
}
.cursor-pointer{
  height: auto;
  width: 80px;
  top: -1%;
  justify-content: center;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 20px 10px;
  align-items: center;
  border-radius: 50%;
  display: none;
  background:rgb(69,248,130);
  left: -2%;
}
::-moz-selection { /* Code for Firefox */
  color: black;
  background: rgb(69,248,130);
}

::selection {
  color: black;
  background: rgb(69,248,130);
}
.upper{
  display: inline-block;
  width: 50px;
  height: 50px;
  opacity: 0;
  visibility: hidden;
  background-color: rgb(69,248,130);
  border-radius: 8px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  rotate: -90deg;
  padding: 5px;
  z-index: 500;
  transition: 500ms all;
  right: 40px;
  &:hover{
    background: orange;
  }
}
.upper-show{
  opacity: 1;
  visibility: visible;
}
.between{
  display: flex;
  justify-content: space-between;
}
body .blackbox{
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 200;
  background-color: white;
  height: 100vh;
}