section.trending{
    z-index: 2;
    background:#10181F;
    display: flex;
    justify-content: center;
    align-items: center;
    .title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
        h2{
        font-size:clamp(20px,7vw,38px);
        color: white;
        font-weight: bolder;
        display: flex;
        text-transform: uppercase;
        align-items: center;
        text-align: start;
        justify-content: start;
        margin-left: 5%;
        gap: 20px;
        img{
            height: 38px;
        }
        }
        .prevnext{
            display: flex;
            margin-right: 5%;
            button{
                height: 40px;
                width: 40px;
                margin: 5px;
                background-color: transparent;
                border-radius: 50%;
                border: 2px solid whitesmoke;
                i{
                    color: white;
                }
            }
        }
    }
    .container{
        margin: 5vw 0; 
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        justify-content: start;
        align-items: start;
        width: 70vw;
    }
    .Swipper{
        width: 90%;
        height: 100%;
        .swiper-wrapper .swiper-slide{
            text-align: center;
            font-size: 18px;
            background: url('https://themedox.com/demo/mykd/assets/img/bg/trendnft_img.png') no-repeat center center;
            background-size: cover;
            display: flex;
            justify-content: center;
            gap: 5px;
            flex-direction: column;
            align-items: start;
            background-position: center;
            height: 426px;
            padding: 20px 20px;
            img{
                border-radius: 8px;
                width: 100%;
                max-height: 249px;
                object-fit: cover;
            }
            .between{
                align-items: center;
                width: 100%;
                i.fa-heart{
                    color: white;
                }
                .swipper-user{
                    display: flex;
                    gap: 10px;
                    img{
                        height: 45px;
                        width: 45px;
                    }
                    .info{
                        text-align: start;
                        h6{
                            font-size: 16px;
                            color: white;
                        }
                        a{
                            line-height: 1;
                            color: grey;
                            text-decoration: underline;
                            font-size: 12px;
                        }
                    }
                }
                &:last-child{
                    width: 90%;
                    .price{
                        display: flex;
                        justify-content: start;
                        align-items: start;
                        flex-direction: column;
                        span.bid{
                            font-size: 13px;
                            color: grey;
                        }
                        h6{
                            font-size: 18px;
                            color: white;
                            text-transform: uppercase;
                            i{
                                color: orange;
                                margin-right: 10px;
                            }
                            
                        }
                    }
                }

                
            }
            span.hr{
                display: block;
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, transparent 0%, #383d44 50%, transparent 100%);
            }
        }
    }
}

.orange{
    color: orange;
}
@media (min-width: 768px) {
    section.trending .title{
        justify-content: space-between;
        flex-direction: row;
    }
}