@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }
main {
  width: 100vw;
  overflow-x: hidden;
  section.main-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 110px 0 75px;
    position: relative;
    background-image: url("https://themedox.com/demo/mykd/assets/img/bg/breadcrumb_bg01.jpg");
    img {
      display: none;
      &:hover{
        animation: horizontal-shaking 0.3s 2;
      }
    }
    &::before {
      left: 0;
      -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
      clip-path: polygon(0 0, 0 100%, 100% 100%);
    }
    &::after {
      right: 0%;
      -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
      background-color: rgb(69, 248, 130);
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 50%;
      bottom: 0;
      background-color: rgb(69, 248, 130);
      height: clamp(30px, 5vh, 50px);
    }
    div.header {
      text-align: center;
      h1 {
        font-size: 50px;
        color: white;

        letter-spacing: 2px;
      }
      span.white{
        color: white;
        position: relative;
        span.green{
          margin-right: 15px;
          &::after{
            content: "";
            display: inline-block;
            background: rgb(69, 248, 130);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-left: 5px;
            
          }
        }
      }
    }

  }
}
@media (min-width: 768px) {
  main section.main-area img{
    display: block;
  }

}