@import url("https://fonts.cdnfonts.com/css/berlin-sans-fb-demi");
:root {
  --main-color: rgb(69, 248, 130);
}
@import "../texts.css";
@keyframes showhidden {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
main {
  width: 100vw;
  overflow-x: hidden;
  section.main-area {
    width: 100%;
    height: 100%;
    display: flex;
    background: url("https://themedox.com/demo/mykd/assets/img/slider/slider_bg.jpg")
      no-repeat scroll;
    background-size: cover;
    background-position: center center;
    padding: 158px 0 54px;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
      clip-path: polygon(0 0, 0 100%, 100% 100%);
      background-color: var(--main-color);
      content: "";
      height: 50px;
    }
    &::before {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
      background-color: var(--main-color);
      content: "";
      height: 50px;
    }
    img.quarter {
      position: absolute;
      z-index: 1;
      animation: 2s linear infinite showhidden;
      &:first-child {
        left: 23%;
        top: 17%;
      }
      &:nth-child(2) {
        right: 19%;
        bottom: 80%;
      }
      &:nth-child(3) {
        right: 47%;
        bottom: 40%;
      }
      &:nth-child(4) {
        right: 40%;
        top: 45%;
      }
    }

    .ads-and-texts {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 5vh;
      .ads .slider__brand-list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        a img {
          max-width: 90%;
        }
        li {
          transition: 300ms opacity;
          z-index: 1;
          position: relative;
        }
        &:has(li:first-child:hover) li:not(li:first-child) {
          opacity: 0.5;
        }
        &:has(li:nth-child(2):hover) li:not(li:nth-child(2)) {
          opacity: 0.5;
        }
        &:has(li:last-child:hover) li:not(li:last-child) {
          opacity: 0.5;
        }
      }
      .ads {
        .image img {
          width: 300px;
          height: 300px;
        }
      }
    }
    .ads-and-texts .texts {
      text-align: left;
      gap: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h1,
      h2 {
        color: white;
      }
      h1 {
        font-size: clamp(1.8rem, 15vw, 8rem);
        text-transform: uppercase;
        font-weight: bolder;
        text-shadow: 2px 7px 0px rgb(41, 148, 76);
        font-family: "Berlin Sans FB Demi", sans-serif;
      }
      h2 {
        width: 100%;
        text-align: center;
        font-size: clamp(1rem, 5vw, 5rem);
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: 5px;
      }
      .live {
        color: var(--main-color);
        text-transform: uppercase;
        font-size: 1rem;
        width: max-content;
        letter-spacing: 3px;
        font-weight: 900;
        padding: 15px;
        border-radius: 10px;
        background: linear-gradient(
          to right,
          rgba(69, 248, 129, 0.349),
          transparent
        );
      }
    }
  }
}
.ads-and-texts + .image {
  display: none;
}
.image {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
@media (min-width: 1180px) {
  main section.main-area .ads-and-texts .texts {
    align-items: start;
  }
  main section.main-area {
    height: 100vh;
  }
  .ads-and-texts + .image {
    display: flex;
    object-fit: cover;
    img {
      width: 450px;
      height: 550px;
    }
  }
  main section.main-area {
    flex-direction: row !important;
    padding: 158px 0 54px;
    .ads-and-texts {
      width: auto;
      height: 100%;
      align-items: start;
      .ads .image {
        display: none;
      }
    }
  }
}
@media (min-height: 720px) and (min-width: 1200px) {
  main section.main-area {
    padding: 0;
  }
}
@media (max-width: 767.98px) {
  .slider__bg {
    padding: 160px 0 55px;
  }
}
@media (max-width: 362px) {
  .slider__bg {
    padding: 160px 0 80px;
  }
}
